/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #a78bfa
$textColor = #fff
$borderColor = #0e0e1b
$codeBgColor = #0e0e1b

body
  font-family "Poppins", sans-serif !important

#main-title
    display: none